{% extends "base.html" %}
{% block nav_message_board %}active{% endblock %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-1">Reply To a message</h2>

<form action="">

    <div class="row">
        <div class="col">

            <!-- Boostrap card -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <!-- Bootstrap list groupe for message details -->
                            <ul class="list-group list-group-horizontal mt-1">
                                <li class="list-group-item lounge-main-opaque-bg lounge-blue-text">Category:</li>
                                <li class="list-group-item lounge-main-opaque-bg lounge-blue-text">
                                    {{ question.category_name }} </li>
                            </ul>
                            <ul class="list-group list-group-horizontal mt-1">
                                <li class="list-group-item lounge-main-opaque-bg lounge-blue-text">From:</li>
                                <li class="list-group-item lounge-main-opaque-bg lounge-blue-text">
                                    {{ question.created_by }} </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <!-- Bootstrap list groupe for message details -->
                            <ul class="list-group list-group-horizontal mt-1">
                                <li class="list-group-item lounge-main-opaque-bg lounge-blue-text">
                                    {{ question.question_description }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    {% for answer in answers %}
                    {% if answer.question_id|lower == question._id|lower %}
                    
                    

                        {% if session.user|lower == answer.created_by|lower %}
                        message buttons
                        {% endif %}
                    
                    {% endif %}

                {% endfor %}

                </div>
            </div>

        </div>
    </div>
</form>

<div class="col">
    <div class="card">
        <div class="card-body">
            <div class="col-sm-12 col-md-6">
                <ul class="list-group list-group-horizontal">
                    <li
                        class="list-group-item lounge-blue-text lounge-main-opaque-bg ">
                        From:</li>
                    <li
                        class="list-group-item lounge-blue-text lounge-main-opaque-bg ">
                        {{ answer.created_by }}</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6">
                <ul class="list-group list-group-horizontal mt-1">
                    <li
                        class="list-group-item lounge-blue-text lounge-main-opaque-bg ">
                        {{ answer.answer_message }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>



{% endblock %}