{% extends "base.html" %}
{% block manage_cat %}active{% endblock %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-3 mb-3">Add A Catogory</h2>

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <!-- Card from bootstrap -->
<div class="card lounge-main-opaque-bg">
    <div class="card-body">
        <!-- Form from bootstrap -->
        <form method="POST" action="{{ url_for('add_category') }}">

            <!-- Password input id = password-->
            <label for="category_name" class="form-label lounge-blue-text">Catogory Name</label>
            <input type="text" id="category_name" name="category_name" minlength="5" maxlength="30"
             class="form-control lounge-opaque-gray-bg" aria-describedby="category_nameHelpBlock" required>
            <div id="category_nameHelpBlock" class="form-text lounge-blue-text">
                Catogory Name must be 5-30 characters long, contain only letters, numbers or both, 
                and must not contain special characters, or emojis.
            </div>
            <button type="submit" class="btn lounge-light-blue-bg lounge-blue-text">Add Category</button>
        </form>
        <!-- End of form -->
    </div>
</div>
<!-- End of card -->
    </div>
</div>

{% endblock %}