{% extends "base.html" %}
{% block nav_message_board %}active{% endblock %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-1">Add Message</h2>

<div class="row">

    <div class="col-12 col-md-6 offset-md-3">

        <!-- Form start -->
        <form method="POST" action="{{ url_for('add_question') }}">

            <!-- Boostrap card -->
            <div class="card mb-3 lounge-opaque-lite-gray-bg">

                <div class="row g-0">

                    <div class="col">
                        <div class="card-body lounge-blue-text">

                            <select id="category_name" name="category_name" class="form-select lounge-white-bg"
                                aria-label="Default select example" required>
                                <option selected>Choose A Category</option>
                                {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                                {% endfor %}
                            </select>

                            <div class="mb-3">
                                <label for="question_description" class="form-label ">Message: </label>
                                <textarea class="form-control lounge-white-bg" id="question_description"
                                    name="question_description" type="text" minlength="3" maxlength="200" row="10"
                                    col="8" required>None</textarea>
                            </div>

                            <div class="card-body d-grid gap-2 col-6 mx-auto">
                                <!-- Edit and delete movie buttons -->
                                <button type="submit"
                                    class="btn btn-secondary lounge-light-blue-bg lounge-blue-text">Add Message</button>
                                <a href="{{ url_for('get_questions') }}"
                                    class="btn lounge-white-text btn-success">Cancel</a>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
            <!-- Card End -->

        </form>
        <!-- Form end -->

    </div>
</div>

{% endblock %}