{% extends "base.html" %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-3 mb-3">Log In</h2>

<!-- Card from bootstrap -->
<div class="card lounge-white-bg">
    <div class="card-body">
        <!-- Form from bootstrap -->
        <form method="POST" action="{{ url_for('login') }}">

            <!-- Username input id = username -->
            <div class="mb-3">
                <label for="username" class="form-label lounge-blue-text">Username</label>

                <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="30"
                    pattern="^[a-zA-Z0-9]{5,15}$" aria-describedby="usernamehelp" required>

                <div id="usernameHelp" class="form-text"></div>
            </div>

            <!-- Password input id = password-->
            <label for="password" class="form-label lounge-blue-text">Password</label>

            <input type="password" id="password" name="password" minlength="5" maxlength="25"
                pattern="^[a-zA-Z0-9]{5,15}$" class="form-control" aria-describedby="passwordHelpBlock" required>

            <div id="passwordHelpBlock" class="form-text">
            </div>

            <button type="submit" class="btn lounge-light-blue-bg lounge-blue-text">Log In</button>
        </form>
        <!-- End of form -->
    </div>
</div>
<!-- End of card -->

{% endblock %}