{% extends "base.html" %}
{% block nav_message_board %}active{% endblock %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-1">Message Board</h2>

<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto mt-2 mb-3">
        <!-- button from bootstrap -->
        <a href="" class="btn lounge-opaque-gray-bg lounge-blue-text">
            Add Question
        </a>
    </div>
</div>

<div class="row">
    {% for question in questions %}
    <div class="col-12 col-md-10 offset-md-1">

        <!-- Bootstrap accordian for messages-->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseone">

                        <div class="row">

                            <div class="col-12 col-xl-4">
                                <!-- Bootstrap list groupe for message details -->
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">Category:</li>
                                    <li class="list-group-item"> {{ question.category_name }} </li>

                                </ul>
                                <ul class="list-group list-group-horizontal mt-1">
                                    <li class="list-group-item">From:</li>
                                    <li class="list-group-item"> {{ question.created_by }} </li>

                                </ul>
                            </div>

                            <div class="col-12 col-xl-4">
                                <!-- Bootstrap list groupe for message details -->
                                <ul class="list-group list-group-horizontal">
                                    
                                    <li class="list-group-item"> {{ question.question_description }}
                                    </li>
                                   
                                </ul>
                            </div>

                            <div class="col-12 col-xl-4">
                              
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <a href="#" class="btn lounge-blue-text btn-success mt-1">Reply</a>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn lounge-blue-text btn-success mt-1">Delete</a>
                                            </div>
                                            <div class="col-sm-6">
                                                <a href="#" class="btn lounge-blue-text btn-success mt-1">Edit</a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </button>

                </div>

                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="row">
                            {% for answer in answers %}
                            {% if answer.question_id|lower == question._id|lower %}
                          
                            <div class="col-12 col-md-10 offset-md-2 mt-1">
                                <!-- Bootstrap list groupe for reply message -->


                                        <ul class="list-group list-group-horizontal ">
                                            <li class="list-group-item">From:</li>
                                            <li class="list-group-item">{{ answer.created_by }}</li>
                                            <li class="list-group-item">
                                                <a href="#" class="btn lounge-blue-text btn-success mt-1 float-end">Reply</a>
                                            </li>
                                            <li class="list-group-item">
                                                <li class="list-group-item">Message: </li>
                                            <li class="list-group-item">{{ answer.answer_message }}</li>
                                            </li>
                                            <li class="list-group-item">
                                                <a href="#" class="btn lounge-blue-text btn-success mt-1">Delete</a>
                                                <a href="#" class="btn lounge-blue-text btn-success mt-1">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                  </div>

                               
                            </div>  
                            {% endif %}
                            {% endfor %}
                            <div class="col-12 col-md-10 offset-md-2 mt-1">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <a href="#" class="btn lounge-blue-text btn-success mt-1">Reply</a>
                                    </li>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Accordian end -->

    </div>
    {% endfor %}
</div>

{% endblock %}