{% extends "base.html" %}
{% block nav_message_board %}active{% endblock %}
{% block content %}

<h2 class="text-center lounge-blue-text mt-1">Message Board</h2>

<div class="row">
    <div class="d-grid gap-2 col-6 mx-auto mt-2 mb-3">
        <!-- button from bootstrap -->
        <a href="" class="btn lounge-opaque-gray-bg lounge-blue-text">
            Add Question
        </a>
    </div>
</div>

<div class="row">
    <!-- Messages questtions display for loop -->
    {% for question in questions %}
    <div class="col-12 col-md-10 offset-md-1">

        <!-- Bootstrap accordian for messages-->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header" id="headingOne">

                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseone">

                        <div class="row">

                            <div class="col-sm-12 col-md-6">
                                <!-- Bootstrap list groupe for message details -->
                                <ul class="list-group list-group-horizontal mt-1">
                                    <li class="list-group-item">Category:</li>
                                    <li class="list-group-item"> {{ question.category_name }} </li>

                                </ul>
                                <ul class="list-group list-group-horizontal mt-1">
                                    <li class="list-group-item">From:</li>
                                    <li class="list-group-item"> {{ question.created_by }} </li>

                                </ul>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <!-- Bootstrap list groupe for message details -->
                                <ul class="list-group list-group-horizontal mt-1">

                                    <li class="list-group-item"> {{ question.question_description }}
                                    </li>

                                </ul>
                            </div>

                            <div class="col-sm-12">

                                <ul class="list-group list-group-horizontal mt-1">
                                    <li class="list-group-item">
                                        <a href="#" class="btn lounge-blue-text btn-success">Reply</a>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn lounge-blue-text btn-success">Delete</a>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn lounge-blue-text btn-success">Edit</a>
                                        </div>
                                    </li>
                                        

                                </ul>
                            </div>

                        </div>
                    </button>

                </div>
                <!-- Booots strap accordian open body for message question answers -->
                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="row">
                            <!-- for loop for message answers -->
                            {% for answer in answers %}
                            <!-- If statment to check messages answer id is the same as the answers question id -->
                            {% if answer.question_id|lower == question._id|lower %}

                            <div class="col-12">
                                <!-- boostrap card for message answers -->
                                <div class="card">
                                    <div class="card-body mt-1">
                                        <!-- Bootstrap list groupe for reply message -->
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <ul class="list-group list-group-horizontal">
                                                    <li class="list-group-item">From:</li>
                                                    <li class="list-group-item">{{ answer.created_by }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <ul class="list-group list-group-horizontal mt-1">
                                                    <li class="list-group-item">{{ answer.answer_message }}</li>
                                                </ul>
                                            </div>
                                            <div class="col-sm-12">

                                                <ul class="list-group list-group-horizontal mt-1">
                                                    <li class="list-group-item">
                                                        <a href="#" class="btn lounge-blue-text btn-success">Reply</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                            <div class="">
                                                                <a href="#" class="btn lounge-blue-text btn-success">Delete</a>
                                                            </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div>
                                                            <a href="#" class="btn lounge-blue-text btn-success">Edit</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!-- List end -->
                                    </div>
                                </div>
                                <!-- card end -->
                            </div>
                            <!-- Id check if statment end -->
                            {% endif %}
                            <!-- Answers forloop end -->
                            {% endfor %}
                            <div class="col-12 col-md-10 offset-md-2 mt-1">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <a href="#" class="btn lounge-blue-text btn-success mt-1">Reply</a>
                                    </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Accordian end -->

    </div>
    <!-- Question for loop end -->
    {% endfor %}
</div>

{% endblock %}