body {
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    box-sizing: border-box;
  }

/* Background colors */
.lounge-main-bg {
    background-color: #8DC249;
}

.lounge-white-bg {
    background-color: #F9FAFA;
}

.lounge-light-blue-bg {
    background-color: #82A0AE;
}

.lounge-opaque-gray-bg {
    background-color: rgba(130, 160, 174, 0.7);
}

.lounge-opaque-lite-gray-bg {
    background-color: rgba(130, 160, 174, 0.4);
}

.lounge-blue-bg {
    background-color: #1D2F59;
}

.lounge-main-opaque-bg {
    background-color: rgba(141, 194, 73, 0.7);
}

/* Text colours */
.lounge-white-text {
    color: #F9FAFA;
}
.lounge-blue-text {
    color: #1D2F59;
}

.nav-link {
    color: #1D2F59;
}

/* Forms */
option:focus {
    box-shadow: inherit;
}

/* Movie card */
.movie-card {
    max-width: 540px;
}

/* nav active */
.active {
    text-decoration: underline;
    font-weight: 700 !important;
    color: #1D2F59 !important;
}

footer {
    position: absolute;
    bottom: 0;
  }

/* Buttons */

.accordian-lounge {
    background-color: rgba(130, 160, 174, 0.7) !important;
    color: #1D2F59;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(130, 160, 174, 0.7) !important;
    color: #1D2F59;
}

.accordion-button:not(.collapsed):hover, .accordion-button:hover {
    background-color: #1D2F59 !important;
    color: #F9FAFA;
}

.accordion-movie:not(.collapsed) {
    background-color: #1D2F59 !important;
    color: #F9FAFA;
}

.accordion-button:focus {
    box-shadow: inherit;
}
